<% layout("/layouts/boilerplate.ejs") %>
<body>
  <h3 class="edit-h3">Edit Listing</h3>
  <br />
  <form method="POST" action="/Listings/<%= listing.id %>?_method=PUT" novalidate class="needs-validation">
    <div>
      <label for="title" class="form-label">Title</label>
      <input
        name="listing[title]"
        class="form-control"
        value="<%= listing.title%>"
        type="text"
        required
      />
      <div class="invalid-feedback">Invalid - Please Enter valid Title !</div>
    </div>
    <br />
    <div>
      <label for="description" class="form-label">Description</label>
      <textarea name="listing[description]" class="form-control" type="text" required>
      <%= listing.description %></textarea
      >
      <div class="invalid-feedback">Invalid - Please Enter valid Description !</div>
    </div>
    <br />
    <div>
      <label for="image.url" class="form-label">Image</label>
      <input
        name="listing[image.url]"
        class="form-control"
        value="<%= listing.image.url%>"
        type="text"
      />
    </div>
    <br />
    <div>
      <div style="width: 40%; margin-right : 19.65%; display: inline-block" >
        <label for="price" class="form-label">Price</label>
        <input
          name="listing[price]"
          class="form-control"
          
          value="<%= listing.price%>"
          required
        />
        <div class="invalid-feedback">Invalid - Please Enter valid Price !</div>
      </div>
      <div style="width: 40%; display: inline-block">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          class="form-control"
          value="<%= listing.location%>"
          type="text"
          required
        />
        <div class="invalid-feedback">Invalid - Please Enter valid Location !</div>
      </div>
    </div>
    <br />
    <div>
      <label for="country" class="form-label">Country</label>
      <input
        name="listing[country]"
        class="form-control"
        value="<%= listing.country%>"
        type="text"
        required
      />
      <div class="invalid-feedback">Invalid - Please Enter valid Country !</div>
    </div>
    <br />
    <button class="btn btn-dark add-btn" type="submit">Submit</button>
  </form>
  <br />
  <br />
</body>
